/*Raleway Montserrat*/

.title {
    font-family: 'Ubuntu', serif;
}

.article {
    font-family: 'Open Sans', serif;
}

.appear {
    display: none;
}

a {
    text-decoration: none;
    color: #3e3e3e;
}
/**/

.paperCard {
    margin-Top: 10px;
    margin-Left: 10px;
    margin-right: 10px;
    margin-Bottom: 10px;
    width: 320px;
    height: auto;
}

.paperCard:last-child {
    margin-right: auto;
}

.infoContent {
    margin: 0px;
    padding: 0px;
    margin-Left: 25px;
    margin-Top: 8px;
    font-Size: 20px;
}
/**/

.photo {
    margin: 0px;
    padding: 0px;
}

.editAll {
    margin: 0px;
    padding: 0px;
    display: 'flex';
    align-Items: 'center';
    justify-Content: 'center';
    flex-Direction: 'column';
    margin-Top: 50px;
}

.SettingTitle {
    font-size: 40px;
}

.followTitle {
    margin: 0px;
    padding: 0p;
    margin-Left: 10px;
    margin-Bottom: 8px;
    font-size: 40px;
    display: flex;
    align-Items: center;
    justify-Content: center;
    font-family: 'Ubuntu', serif;
}