@media screen and (max-width: 450px) {
    .comments {
        display: none;
    }
    .title {
        font-size: 50;
    }
    .appear {
        display: block;
    }
}
/**/

@media screen and (min-width: 354px) {
    .paperCard:last-child {
        margin-right: 10px;
        color: aqua;
    }
}

@media screen and (min-width: 700px) {
    .paperCard:last-child {
        margin-right: auto;
        color: #2700ff;
    }
    .followTitle {
        font-Size: 35px;
        display: flex;
        flex-Direction: row;
        align-Items: flex-start;
        justify-Content: flex-start;
    }
    .loginAll {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }
    .allLoginTitle {
        margin-top: 20px;
        margin-left: 7px;
    }
}

@media screen and (min-width: 701px) {
    .paperCard:last-child {
        margin-right: 10px;
        color: #ff0000;
    }
}

@media screen and (min-width: 1037px) {
    .paperCard:last-child {
        margin-right: auto;
        color: #ff0000;
    }
    .editDown {
        padding-left: 30%;
        padding-right: 30%;
    }
}
/**/

@media screen and (min-width: 768px) {
    .SettingTitle {
        font-size: 50px;
    }
    .editUp {
        display: flex;
        flex-direction: row;
        justify-Content: center;
        align-Items: center;
        margin-top: 60px;
        /*        border: 2px solid red;*/
    }
    .editNC {
        margin: 0px;
        padding: 0px;
        margin-left: 150px;
    }
    .editDown {
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 20px;
        /*        border: 2px solid blue;*/
    }
    .editAll {
        /*        margin-Top: 0px;*/
        /*        border: 2px solid green;*/
    }
}