html {
    font-family: 'Roboto', sans-serif;
}

body {

    font-size: 13px;
    padding: 0px;
    background-color: rgb(159, 189, 255);
}

.loginTab{

    /* dirty */
	position: absolute;
	top :calc(50% - 150px);
	left:calc(50% - 150px);
}
