.paperCard {
	margin: 10px;
	width: 320px;
	height: auto;
	background-color: aqua;
}

.paperCard:last-child {
	margin-right: auto;
}

.infoContent {
	margin: 0px;
	padding: 0px;
	margin-Left: 25px;
	margin-Top: 8px;
	font-Size: 20px;
}