doctype html
html
    head
        title= CodePioneer

        script(src='http://libs.baidu.com/jquery/2.0.0/jquery.min.js')

        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Ubuntu')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open Sans')

        link(rel='stylesheet', type='text/css', href='stylesheet/loginApp.css')
        link(rel='stylesheet', type='text/css', href='stylesheet/container.css')
        link(rel='stylesheet', media='screen and (max-width: 450px)', href='stylesheet/container_media.css')
        link(rel='stylesheet', media='screen and (max-width: 1024px)', href='stylesheet/container_media.css')

    body
        block content