doctype html
html
	head
		title= CodePioneer
		link(rel='stylesheet', type='text/css', href='stylesheet/loginApp.css')
		script(src='http://libs.baidu.com/jquery/2.0.0/jquery.min.js')
	body
		block content